<div class="container-fluid">
  <div class="content z-depth-2 row">
    <div class="wrapper">
      <div class="row-1-lg mt-md-2">
        <div class="about-card ml-md-5">
          <app-jenn-about-me></app-jenn-about-me>
        </div>
        <div class="about-card ml-md-3 mt-md-4">
          <app-jenn-about-work></app-jenn-about-work>
        </div>
        <div class="about-card ml-md-3 mt-md-4">
          <app-jenn-about-work></app-jenn-about-work>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-wrapper">
    <app-jenn-footer class="about-footer text-center"></app-jenn-footer>
  </div>
</div>
