@import "../../scss/variables";
@import "../../scss/mixins";

.footer-wrapper {
  width: 100%;
}

.about-footer {
  z-index: -1;
  width: 100%;
  height: $about-footer-height;
  margin-top: $about-footer-mobile-margin;
}

.content {
  overflow: auto;
  color: $kinda-black;
  @include linear-gradient(180deg, $broken-hearts-1, $broken-hearts-2);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.about-card {
  float: left;
  width: 100%;
  background: none;
}

@import "../../scss/utilities";
