@import "../../scss/variables";
@import "../../scss/mixins";

.content {
  color: $kinda-black;
  @include linear-gradient(up, $broken-hearts-1, $broken-hearts-2);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.about-card {
  float: left;
  width: 100%;
  background: none;
}

@import "../../scss/utilities";
