// Small
@media (min-width: 576px) {

}

// Medium Down
@media (max-width: 767px) {

}

// Medium
@media (min-width: 768px) {

}

// Large
@media (min-width: 992px) {
  .site-body {
    margin-top: $body-top-margin-lg;
  }

  .navbar-brand, .nav-link {
    padding-top: $nav-top-padding;
    padding-left: $nav-left-padding;
  }

  .wrapper {
    position: relative;
    overflow: auto;
  }

  .content {
    position: absolute;
    width: $about-width;
  }

  .about-card {
    float: left;
    width: $about-card-width;
  }
}

// X-Large
@media (min-width: 1200px) {

}
