// Small
@media (min-width: 576px) {
}

// Medium Down
@media (max-width: 767px) {
}

// Medium
@media (min-width: 768px) {
  .header {
    h1,
    h4 {
      display: inline;
      margin: auto 0.5rem;
      vertical-align: middle;
    }

    h1 {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 991px) {
}

// Large
@media (min-width: 992px) {
}

// X-Large
@media (min-width: 1200px) {
}
