@import "../mixins";

// Small
@media (min-width: 576px) {

}

// Medium Down
@media (max-width: 767px) {

}

// Medium
@media (min-width: 768px) {
  .site-body {
    margin-top: $body-top-margin-lg;
  }

  .navbar-brand, .nav-link {
    padding-top: $nav-top-padding;
    padding-left: $nav-left-padding;
  }

  .wrapper {
    position: relative;
    overflow: auto;
  }

  .content {
    position: absolute;
    width: $about-width;
    height: $about-height;
    @include linear-gradient(to right, $broken-hearts-1, $broken-hearts-2);
  }

  .about-card {
    float: left;
    width: $about-card-width;
  }

  jenn-about-me {
    width: $intro-width;
    padding-left: $pic-padding-left;

    .container-fluid {
      margin-top: 0;
    }
  }
}

@media (max-width: 991px) {
  .background {
    @include linear-gradient(to down, $broken-hearts-1, $broken-hearts-2);
  }
}

// Large
@media (min-width: 992px) {

}

// X-Large
@media (min-width: 1200px) {

}
