/* Main about page */

.about .main {
  font-family: 'Roboto', sans-serif;
  padding-top: 10%;
}

.about .header {
  font-family: 'Montserrat', sans-serif;
}

.about .contact {
  font-family: 'Roboto', sans-serif;
  padding-top: 20%;
  padding-bottom: 5rem;
}

.about .social-icon {
  max-height: 1.5rem;
}

.about .social-icon:hover {
  max-height: 2rem;
}
