.main {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  padding-top: 10%;
  opacity: .7;
}

.header {
  font-family: 'Raleway', sans-serif;
}

.contact {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  padding-top: 10%;
  padding-bottom: 5rem;
  opacity: .7;
}

.social-icon {
  color: white;
  max-height: 2rem;
}

.wrapper {
  background-color: rgba(27, 27, 34, 0.85);
  height: 65vh;
  width: 100%;
}
