body {
  /* background-image: url(https://res.cloudinary.com/thakugan/image/upload/v1509387068/1_cdjgak.jpg); */
  background-color: #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  -webkit-transition: background-image 100ms ease-in-out;
  /* property duration timing-function delay */
  -moz-transition: background-image 100ms ease-in-out;
  -o-transition: background-image 100ms ease-in-out;
  transition: background-image 100ms ease-in-out;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.navbar-toggler {
  border: none;
}

.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active {
  opacity: 2;
  transition: opacity 1.5s ease-in;
}

.page-anim-appear {
  opacity: 0.01;
}

.page-anim-appear.page-anim-appear-active {
  opacity: 2;
  transition: opacity .25s ease-in-out;
}

.container {
  width: auto;
}

a {
  word-wrap: break-word;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.25em;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111em;
}


/* Font sizes */

// Medium
@media (min-width: 768px) {
  p {
    line-height: 1.375em;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }
  h4 {
    line-height: 1.22222222em;
  }
}

// Large
@media (min-width: 992px) {
  h1 {
    font-size: 3em;
    line-height: 1.05em;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }
}
