body {
  background-image: url(https://res.cloudinary.com/thakugan/image/upload/v1509387068/1_cdjgak.jpg);
  /* background-color: #0F0F43; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: background-image 100ms ease-in-out;
  /* property duration timing-function delay */
  -moz-transition: background-image 100ms ease-in-out;
  -o-transition: background-image 100ms ease-in-out;
  transition: background-image 100ms ease-in-out;
}

.blurredBG {
  background-image: url(https://res.cloudinary.com/thakugan/image/upload/e_blur:800/v1509387068/1_cdjgak.jpg);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar-toggler {
  border: none;
}

.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active {
  opacity: 2;
  transition: opacity 1.5s ease-in;
}

.page-anim-appear {
  opacity: 0.01;
}

.page-anim-appear.page-anim-appear-active {
  opacity: 2;
  transition: opacity .25s ease-in-out;
}
