.navbar .dropdown-item {
  color: white;
  font-weight: 300;
}

.navbar .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.navbar a {
  background: none;
  border: none;
}

.navbar a:hover {
  cursor: pointer;
}

.navbar .material-icons {
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: 36px;
}

.navbar nav {
  color: #000;
}

.navbar .active {
  color: #000;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar .container {
  width: 100%;
}
