.page {
  border-radius: .5rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0;
}

.page a {
  margin-right: 1rem;
}

.page a:hover {
  cursor: pointer;
}

.page h1, .page h2, .page h3, .page h4, .page h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.page h2 {
  padding-bottom: .25rem;
  border-bottom: .125rem solid black;
}

.page .material-icons {
  font-size: 2rem;
  color: black;
}

@media (min-width: 768px) {
  .page {
    padding: 2rem 5rem;
  }
}
