.page {
  border-radius: .5rem;
  color: black;
  font-family: 'Roboto', sans-serif;
  /* width: 50%; */
  padding: 2rem 1rem;
}

.page a {
  margin-right: 1rem;
}

.page a:hover {
  cursor: pointer;
}

.page h1, .page h2, .page h3, .page h4, .page h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.page .material-icons {
  font-size: 2rem;
  color: black;
}
