.projects h3 {
  margin-top: 2rem;
  text-decoration: underline;
}

.projects h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.projects a:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .projects {
    padding: 2rem 5rem;
  }
  .projects p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
  }
}
