<div class="container footer-content">
  <div class="text-center">
    <h5>contact me</h5>
  </div>
  <div class="container mx-auto mt-3">
    <a href="https://github.com/Thakugan" target="_blank" class="col">
      <img src="../../assets/social-icons/social-1_logo-github.svg"/>
    </a>
    <a href="https://www.linkedin.com/in/thakugan/" target="_blank" class="col">
      <img src="../../assets/social-icons/social-1_logo-linkedin.svg"/>
    </a>
    <a href="mailto:jenn.thakugan@icloud.com" class="col">
      <img src="../../assets/social-icons/email.svg"/>
    </a>
  </div>
</div>
