@import "../../../scss/variables";
@import "../../../scss/mixins";

h1 {
  font-family: $header-font;
  font-size: $about-h1-size;
}

h2 {
  font-family: $header-font;
  font-size: $about-h2-size;
}

h3 {
  font-family: $header-font;
  font-size: $about-h3-size;
}

p {
  font-size: $about-p-size;
  line-height: $about-p-line-height;
}

.container {
  padding: 0 $work-card-padding;
}

@import "../../../scss/utilities";
