html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #app, #app>div {
  height: 100%
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active {
  opacity: 2;
  transition: opacity 1.5s ease-in;
}
