* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  vertical-align: baseline;
}

body > div {
  height: 100%;
}

body > div > div {
  height: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1;
}

.page {
  margin: 0 auto;
  max-width: 600px;
  padding: 3rem 1rem 0 1rem;
}

.clearfix {
  overflow: auto;
}

.no-spacing {
  margin: 0;
  max-width: 100%;
  padding: 0;
}
