// Colors
// ------------------------------------------------
$white: #fff !default;
$black: #000 !default;
$dark-grey: #212626 !default;
$light-grey: #d3d3d3 !default;

// Palette colors

$dark-red: #8b0000 !default;

$teal: #027b7f !default;
$cream: #ffa588 !default;
$red: #d62957 !default;
$fushia: #bf1e62 !default;
$purple: #572e4f !default;
