// Colors

$navbar-text-color:     #d9a7c7 !default;

// Fonts
$base-font:             "Nunito", sans-serif;

$font-weight-light:     300 !default;

$title-font-size:       2rem !default;
$nav-link-font-size:    1rem !default;

// Formatting

$nav-padding:           6rem 5rem !default;
$nav-padding-sm:        1rem 0 !default;

$about-padding:         0 !default;
$about-height:          30rem !default;

// Accordian
