@import "../../scss/variables";
@import "../../scss/mixins";

navbar {
  font-family: $base-font;
  font-weight: $font-weight-light;

  .navbar-brand, .nav-link {
    color: $kinda-black;
  }

  .navbar-brand {
    font-size: $title-font-size;
  }

  .nav-item {
    font-size: $nav-link-font-size;
  }

}

@import "../../scss/utilities";
